### Project 2

### Overview
- Background 
- EDA
- Regression

### Background

We have been tasked with creating a regression model based on Singapore Housing Dataset. This model will predict the price of a house at sale.

This Dataset is an exceptionally detailed one with over 70 columns of different features relating to houses.

**Land**
According to an article by seedly, approximately 102 of Singapore's 728.6 square kilometre land area is used for housing.

The two housing markets can be roughly divided into _**Public**_ and _**Private**_ housing.

**Factors to consider**
A quick search on the most important factors when considering housing include:

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score
from sklearn.impute import SimpleImputer

In [ ]:
#Functions
def explorify_df(x):
    return x.shape, x.info

### EDA

In [ ]:
#reading the test dataset
train_data = pd.read_csv("./datasets/train.csv")
print(train_data.shape)
#assessing the missing values
y = train_data.isna().sum().sort_values(ascending = False).to_frame('vals')
train_data.drop(columns=['Hawker_Within_500m', 'Mall_Within_500m', 'Hawker_Within_1km', 'Hawker_Within_2km','Mall_Within_1km', 'Mall_Nearest_Distance', 'Mall_Within_2km'],
                         inplace=True)
# y2 = train_data.isna().sum().sort_values(ascending = False).to_frame('vals')
# plt.hist(train_data.groupby('town')['Mall_Nearest_Distance'])
# train_data['Mall_Nearest_Distance'].hist(by=train_data['town'])
# train_data['bus_stop_nearest_distance'].max()
# train_data['town']
#checked values of entry 691 nad 150388 and saw that there was no relationship between the two locations in google maps one was 1 km away and the other was 2.5 km away
# train_data['Mall_Within_2km'].unique()

C:\Users\siaza\AppData\Local\Temp\ipykernel_4740\124349598.py:2: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv("./datasets/train.csv")

(150634, 77)

In [ ]:
# plt.scatter(train_data['Mall_Within_2km'], train_data['town'],s=2)
# plt.xlabel('Mall_Nearest_Distance')
# plt.ylabel('resale price')

In [ ]:
# plt.hist(train_data['Mall_Within_500m'])
# plt.xlabel('Mall_Within_500m')
# plt.ylabel('resale price')

In [ ]:
# plt.hist(train_data['Hawker_Within_1km'])
# plt.xlabel('Hawker_Within_1km')
# plt.ylabel('resale price')

In [ ]:
# plt.hist(train_data['Hawker_Within_2km'],bins=20)

In [ ]:
#NA values
[print(k,v) for k,v in train_data.isna().sum().items() if v> 0]

[]

In [ ]:
# train_data.dropna()
# #drop id column
# train_data.drop('id', axis=1, inplace=True)

In [ ]:
objects = [k for k,v in train_data.dtypes.items() if v == object]
# #isolate objects_df
objects_df = train_data.loc[:, objects].copy()
#no null values in the objects only df
objects_df.isna().sum()
# #isolate numeric_df
objects_2 = [i for i in list(objects_df.columns) if i not in ['block', 'postal','planning_area','Tranc_YearMonth','address']]
#dealing with date
numeric_df = train_data.loc [:, ~train_data.columns.isin(objects_2)].copy()
numeric_df.drop(columns='Tranc_YearMonth')

['town', 'flat_type', 'street_name', 'storey_range', 'flat_model', 'full_flat_type', 'residential', 'commercial', 'market_hawker', 'multistorey_carpark', 'precinct_pavilion', 'postal', 'mrt_name', 'bus_stop_name', 'pri_sch_name', 'sec_sch_name']

In [ ]:
#remove all duplicates
print(train_data.shape)
# train_data.drop_duplicates(inplace=True)

(150634, 66)

### Exploring the Data

In [ ]:
print(train_data.corr()['resale_price'].describe())

C:\Users\siaza\AppData\Local\Temp\ipykernel_4740\389481351.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(train_data.corr()['resale_price'].describe())

count    50.000000
mean      0.090404
std       0.272502
min      -0.410368
25%      -0.039074
50%       0.031436
75%       0.280353
max       1.000000
Name: resale_price, dtype: float64

In [ ]:
#higher end of correlation
train_data.corr()[train_data.corr()['resale_price'] > 0.37][['resale_price']].sort_values(by=['resale_price'],ascending=False)

C:\Users\siaza\AppData\Local\Temp\ipykernel_4740\2599497196.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data.corr()[train_data.corr()['resale_price'] > 0.37][['resale_price']].sort_values(by=['resale_price'],ascending=False)

                 resale_price
resale_price         1.000000
floor_area_sqm       0.654120
floor_area_sqft      0.654120
id                   0.521504
max_floor_lvl        0.495650

In [ ]:
#lower end of correlation
train_data.corr()[train_data.corr()['resale_price'] < 0][['resale_price']].sort_values(by=['resale_price'])
# train_data.corr()[train_data.corr()['resale_price'] < -0.3][['resale_price']].sort_values(by=['resale_price'])

C:\Users\siaza\AppData\Local\Temp\ipykernel_4740\3535059119.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data.corr()[train_data.corr()['resale_price'] < 0][['resale_price']].sort_values(by=['resale_price'])

                          resale_price
3room_sold                   -0.410368
hdb_age                      -0.350337
sec_sch_latitude             -0.216303
Latitude                     -0.216153
bus_stop_latitude            -0.215760
mrt_latitude                 -0.214939
pri_sch_latitude             -0.214707
2room_sold                   -0.145287
total_dwelling_units         -0.140725
mrt_nearest_distance         -0.128222
3room_rental                 -0.079965
2room_rental                 -0.077548
1room_sold                   -0.039434
1room_rental                 -0.037993
hawker_food_stalls           -0.033581
Tranc_Year                   -0.019146
vacancy                      -0.016140
Hawker_Nearest_Distance      -0.014537
pri_sch_nearest_distance     -0.011004
hawker_market_stalls         -0.009378
Tranc_Month                  -0.006823
affiliation                  -0.000466

In [ ]:
#remember to scale the data before fitting for baseline model
# X = train_data.drop('resale_price')
y = train_data['resale_price']
X = train_data.drop(columns='resale_price')
X.loc[X['postal'].str.contains('NIL',na=False), 'postal'] = 0
X['postal'] = X['postal'].astype('int64')
print(y.head())
print(X.head())
# y = train_data['resale_price']
# X_train, X_test, y_train, y_test =

0    680000.0
1    665000.0
2    838000.0
3    550000.0
4    298000.0
Name: resale_price, dtype: float64
       id             town  flat_type       street_name storey_range  \
0   88471  KALLANG/WHAMPOA     4 ROOM  UPP BOON KENG RD     10 TO 12
1  122598           BISHAN     5 ROOM      BISHAN ST 13     07 TO 09
2  170897      BUKIT BATOK  EXECUTIVE    BT BATOK ST 25     13 TO 15
3   86070           BISHAN     4 ROOM      BISHAN ST 22     01 TO 05
4  153632           YISHUN     4 ROOM      YISHUN ST 81     01 TO 03

   floor_area_sqm  flat_model  lease_commence_date  Tranc_Year  Tranc_Month  \
0            90.0     Model A                 2006        2016            5
1           130.0    Improved                 1987        2012            7
2           144.0   Apartment                 1997        2013            7
3           103.0     Model A                 1992        2012            4
4            83.0  Simplified                 1987        2017           12

   ...  vacancy  pri_sch_affiliation  pri_sch_latitude  pri_sch_longitude  \
0  ...       78                    1          1.317659         103.882504
1  ...       45                    1          1.349783         103.854529
2  ...       39                    0          1.345245         103.756265
3  ...       20                    1          1.354789         103.844934
4  ...       74                    0          1.416280         103.838798

  sec_sch_nearest_dist                             sec_sch_name  cutoff_point  \
0          1138.633422                 Geylang Methodist School           224
1           447.894399  Kuo Chuan Presbyterian Secondary School           232
2           180.074558             Yusof Ishak Secondary School           188
3           389.515528                     Catholic High School           253
4           312.025435             Orchid Park Secondary School           208

   affiliation  sec_sch_latitude sec_sch_longitude
0            0          1.317659        103.882504
1            0          1.350110        103.854892
2            0          1.342334        103.760013
3            1          1.354789        103.844934
4            0          1.414888        103.838335

[5 rows x 65 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1337)

In [ ]:
lr = LinearRegression()

In [ ]:
ss = StandardScaler()
# X_train = ss.fit_transform(X_train)
# X_test = ss.fit_transform(X_test)

In [ ]:
X_train_cat = X_train.loc[:, objects].copy().astype(str)
X_train_cat.drop(columns=['block', 'postal','planning_area','Tranc_YearMonth','address'], inplace=True)
X_test_cat = X_test.loc[:, objects].copy().astype(str)
X_test_cat.drop(columns=['block', 'postal','planning_area','Tranc_YearMonth','address'], inplace=True)

In [ ]:
ohe = OneHotEncoder(handle_unknown='ignore',drop='first')

X_train_cat = pd.DataFrame((ohe.fit_transform(X_train_cat).toarray()), columns = ohe.get_feature_names_out())
X_test_cat = pd.DataFrame(ohe.transform(X_test_cat).toarray(), columns = ohe.get_feature_names_out())

C:\Users\siaza\.conda\envs\dsi-sg\lib\site-packages\sklearn\preprocessing\_encoders.py:188: UserWarning: Found unknown categories in columns [11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [ ]:
X_train_cat.isna().sum().sort_values(ascending=False)

town_BEDOK                                0
postal_730307                             0
postal_730215                             0
postal_730216                             0
postal_730217                             0
                                         ..
postal_530240                             0
postal_530241                             0
postal_530242                             0
postal_530243                             0
sec_sch_name_Zhonghua Secondary School    0
Length: 11810, dtype: int64

In [ ]:

X_num_train = X_train.loc [:, ~X_train.columns.isin(objects_2)].drop(columns=['Tranc_YearMonth', 'block','address','planning_area'])
X_train_num2 = pd.DataFrame(ss.fit_transform(X_num_train), columns = ss.get_feature_names_out())
X_train_num2.isna().sum()

id                           0
floor_area_sqm               0
lease_commence_date          0
Tranc_Year                   0
Tranc_Month                  0
mid_storey                   0
lower                        0
upper                        0
mid                          0
floor_area_sqft              0
hdb_age                      0
max_floor_lvl                0
year_completed               0
total_dwelling_units         0
1room_sold                   0
2room_sold                   0
3room_sold                   0
4room_sold                   0
5room_sold                   0
exec_sold                    0
multigen_sold                0
studio_apartment_sold        0
1room_rental                 0
2room_rental                 0
3room_rental                 0
other_room_rental            0
Latitude                     0
Longitude                    0
Hawker_Nearest_Distance      0
hawker_food_stalls           0
hawker_market_stalls         0
mrt_nearest_distance         0
bus_interchange              0
mrt_interchange              0
mrt_latitude                 0
mrt_longitude                0
bus_stop_nearest_distance    0
bus_stop_latitude            0
bus_stop_longitude           0
pri_sch_nearest_distance     0
vacancy                      0
pri_sch_affiliation          0
pri_sch_latitude             0
pri_sch_longitude            0
sec_sch_nearest_dist         0
cutoff_point                 0
affiliation                  0
sec_sch_latitude             0
sec_sch_longitude            0
dtype: int64

In [ ]:

X_num_test = X_test.loc [:, ~X_test.columns.isin(objects_2)].drop(columns=['Tranc_YearMonth', 'block','address','planning_area'])
X_test_num = pd.DataFrame(ss.transform(X_num_test), columns = ss.get_feature_names_out())

In [ ]:
X_num_train.index = X_num_train.index.astype(int)
X_train_cat.index = X_train_cat.index.astype(int)
X_train_final = X_train_cat.join(X_train_num2)
# X_test_final = X_test_cat.join(X_test_num)

MemoryError: Unable to allocate 9.94 GiB for an array with shape (11810, 112975) and data type float64

In [ ]:
X_train_final.isna().sum()

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train_final,y_train)

In [ ]:
lr.score(X_train_final,y_train)

In [ ]:
lr.score(X_train_final,y_train)